scripts/__pycache__/scrape.cpython-39.pyc
GoldMandu/GoldMandu/__pycache__/
GoldMandu/GoldMandu/spiders/__pycache__/

# Virtual environments
venv/
.venv/

# Node dependencies
node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo

# Scrapy cache
.scrapy/
GoldMandu/.scrapy/