/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define font family */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Define container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

/* Define heading styles */
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Define date styles */
.date {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #999;
}

/* Define gold rate styles */
.gold-rate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Define metal rate styles */
.fine-gold,
.tejabi-gold,
.silver {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border: 0px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff; /* Add a light background color for neomorphic effect in light mode */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(0, 0, 0, 0.2) inset; /* Neomorphic shadow in dark mode */
    
    color: #333; /* Set the text color to dark in light mode */
}

/* Define metal title styles */
.fine-gold h2,
.tejabi-gold h2,
.silver h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Define metal rate styles */
.fine-gold .tola,
.fine-gold .gram,
.tejabi-gold .tola,
.tejabi-gold .gram,
.silver .tola,
.silver .gram {
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #ffffff; /* Set text color to white in dark mode */
}

body.dark-mode .container {
    border-color: #fff;
}

/* Center the header contents */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Set the background colors and text colors for each card in dark mode */
body.dark-mode .fine-gold,
body.dark-mode .tejabi-gold,
body.dark-mode .silver {
    background-color: #333;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(0, 0, 0, 0.2) inset; /* Neomorphic shadow in dark mode */
}

#dark-mode-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: transparent;
    border: none;
}

#dark-mode-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .gold-rate {
        flex-direction: column;
    }

    /* Adjust the styles to make each element appear on a new line */
    .fine-gold,
    .tejabi-gold,
    .silver {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}
